<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zjxd.functions">

    <!--广播的权限-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >
        <activity android:name=".MainFunctionActivity"></activity>
        <activity android:name=".task.AddTaskActivity"></activity>
        <service android:name=".task.service.MyService"/>
        <receiver android:name=".task.receive.TurnOnReceive">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>